/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";

.update-animation { animation-duration: 3s; animation-name: highlight;}
@keyframes highlight {
  from { background-color: #59E817; }
  to { background-color: transparent; }
}
table { border: 0; border-spacing: 0; border-collapse: separate;}
td { padding: 0; }
.align-right-top { text-align: right; vertical-align: top;}
#hnmain { border-spacing: 1px; width: 85%; background-color: #f6f6ef;}
body, td, .title  { font-family:Verdana, Geneva, sans-serif; font-size:10pt; color:#828282; }
.header {padding:2px 23px;}
.orange-bg { background-color:  #ff6600;}
.bottom-ruler {height:2px; }
.spacer { height: 5px; }
.rank {padding-right:8px;}
.subtext { font-family:Verdana, Geneva, sans-serif; font-size:  7pt; color:#828282; }
.pagetop { font-family:Verdana, Geneva, sans-serif; font-size: 10pt; color:#222222; font-weight: bold;}
a:link    { color:#000000; text-decoration:none; }
a:visited { color:#828282; text-decoration:none; }
.subtext a:link, .subtext a:visited { color:#828282; }
.subtext a:hover { text-decoration:underline; }
@media only screen
and (min-width : 100px)
and (max-width : 750px) {
  #hnmain { width: 100%; }
  body { padding: 0; margin: 0; width: 100%; -webkit-text-size-adjust: none; }
  .pagetop { display: block; font-size: 15px; }
  .title { font-size: 11pt; line-height: 14pt;  }
  .subtext { font-size: 9pt; }
  .itemlist { padding-right: 5px;}
}


