/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";

.update-animation {
  animation-duration: 3s;
  animation-name: highlight;
}

@keyframes highlight {
  from {
    background-color: greenyellow;
  }

  to {
    background-color: transparent;
  }
}

body  { font-family:Verdana, Geneva, sans-serif; font-size:10pt; color:#828282; }
td    { font-family:Verdana, Geneva, sans-serif; font-size:10pt; color:#828282; }

.subtext td { font-family:Verdana, Geneva, sans-serif; font-size:  7pt; color:#828282; }

a:link    { color:#000000; text-decoration:none; }
a:visited { color:#828282; text-decoration:none; }

.title   { font-family:Verdana, Geneva, sans-serif; font-size: 10pt; color:#828282; }
.subtext { font-family:Verdana, Geneva, sans-serif; font-size:  7pt; color:#828282; }
.pagetop { font-family:Verdana, Geneva, sans-serif; font-size: 10pt; color:#222222; }
.hnname  { margin-right: 5px; }

.subtext a:link, .subtext a:visited { color:#828282; }
.subtext a:hover { text-decoration:underline; }

.votearrow {
  width:      10px;
  height:     10px;
  border:     0px;
  margin:     3px 2px 6px;
  /*background: url("grayarrow.gif")
  no-repeat;*/
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .votearrow { background-size: 10px; /*background-image: url("grayarrow2x.gif"); */}
}

/* mobile device */
@media only screen
and (min-width : 300px)
and (max-width : 750px) {
  #hnmain { width: 100%; }
  body { padding: 0; margin: 0; width: 100%; -webkit-text-size-adjust: none; }
  td { height: inherit !important; }
  .title, .comment { font-size: inherit;  }
  span.pagetop { display: block; margin: 3px 5px; font-size: 12px; }
  span.pagetop b { display: block; font-size: 15px; }
  .title { font-size: 11pt; line-height: 14pt;  }
  .subtext { font-size: 9pt; }
  .itemlist { padding-right: 5px;}
  .votelinks { min-width: 18px; }
  .votelinks a { display: block; margin-bottom: 9px; }
}


